.field_error{color:red;}
.accordion .accordion__hide {
    background: #f4f4f4;
    height: 65px;
    line-height: 65px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: "Poppins";
    cursor: pointer;
}
.box__layout {
    margin: 0 90px;
}
.ht__cat__thumb a img {
    width: 100%;
}
.slick-initialized .slick-slide {
    outline: none;
}

.email_verify_otp{display:none;}
.height_60px{height:60px;}
#email_otp_result{
	margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.mobile_verify_otp{display:none;}
#mobile_otp_result{
	margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
.forgot_password{margin-left: 10px;
    font-size: 20px;}

.password_label{font-size:20px;}
